h1 {
  font-family: "Franklin Gothic Medium Cond";
}
/* Add a black background color to the top navigation */
nav {
    background-color: #727272;
    overflow: hidden;
    font-family: "Quicksand";
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
}

ul {
    list-style-type: none;
}


/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #4CAF50;
    color: white;
}

.entreprise {
  color: #18A5BA;
  font-family: "Quicksand";
  font-weight: bold;
}

.date {
  color: #18A5BA;
  font-family: "Quicksand";
  font-weight: bold;
}

.intitule {
  color: #343432;
  font-family: "Quicksand";
  font-weight: bold;
}

.description {
  color: #343432;
  font-family: "Quicksand";
}



/* Déclaration de la police */
@font-face {
font-family: "Quicksand";
src: url('/fonts/Quicksand-Regular.ttf');
}

/* Déclaration de la police version "gras" */
@font-face {
font-family: "Quicksand";
font-weight: bold;
src: url('/fonts/Quicksand-Bold.ttf');
}
