@import "gatherer";




// Content
body{
    font-family: "Quicksand";
}

a {
    color: $white;
  }
section{
    padding: 80px 20vw;
    display: block;
    h3 {
//      text-shadow: 2px 2px 5px $grey;
      font-size: 35px;
      letter-spacing: 5px;
      margin-bottom: 50px;
    }
    p{
      text-align: justify;
      margin-bottom: 20px;
    }
    ul{
      list-style-type: none;
      li{
        margin-bottom: 20px;
      }
    }
}

.entreprise, .date {
  color: $cyan;
  font-weight: bold;
}

.intitule{
  color: $black;
  font-weight: bold;
}

.description {
  color: $black;
  font-family: "Quicksand";
}

.alpha {
    background-color: transparent;
}

#home{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  h1{
    font-size: $font_size_title_big;
    letter-spacing: 5px;
    padding : 4px 20px 0 20px;
    text-align: center;
    color: $cyan;
    margin-bottom: 20px;
//    animation: test 5s infinite;
//    text-shadow: 0 0 20px black;
  }

  h2{
    letter-spacing: 5px;
    color: $grey;
    font-size: $font_size_subtitle;
    text-align: center;
  }
//  background-image: url(img/home_att.png);
}

@keyframes test {
  0% {
    text-shadow: 4px 4px 20px $cyan;
  }

  33% {
    text-shadow: -4px 4px 20px $cyan;
  }

  66%   {
    text-shadow: -4px -4px 20px $cyan;
  }

  100%  {
    text-shadow: 4px -4px 20px $cyan;
  }

}

#profil{
  background-image: url(../img/bp.png);
  background-repeat: repeat;
  @include box_shadow_inset($grey);
  color: $white;
  .description{
    color: $white;
  }
  h3{
    text-shadow: 0px 0px 25px $turquoise;
  }
}


#competences{
  .contentWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .competences{
    width: 30%;
  }
  ul{
    padding-left: 0;
  }
  h3{
    color: $cyan;
  }
}

#formation{
  background-image: url(../img/Grey_Background.jpg);
  background-repeat: repeat;
  @include box_shadow_inset($black_black);
  color: $cream;
  .description{
    color: $cream;
  }
  h3{
    text-shadow: 0px 0px 65px $black_black;
  }
}

#contact {
  @include box_shadow_inset($grey);
  text-shadow: 0 0 20px $black_black;
  padding-bottom: 0;
  background-color: $white;
  background-image: url(../img/pano_ph-min.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contentWrapper{
    font-size: 35px;
  }
  a{
    text-decoration: underline;
  }
  footer {
    margin-top: 200px;
    p{
      text-align: center;
    }
  }
 }




/* Add a black background color to the top navigation */
nav {
    height: 40px;
    background-color: $grey;
    font-family: "Quicksand";
    width: 100%;
    letter-spacing: 3px;
    position: fixed;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    display: block;
    ul {
        width: 1080px;
        max-width: 1080px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        list-style-type: disc;
        li{
            font-size: 17px;
            display: inline-block;
            width: auto;
            padding : 10px;
            text-align: center;
            color: $white;
            &:hover {
                box-shadow: 0px 6px 30px 0 $black;
                cursor: pointer;
                z-index: 1;
            }
        }
    }
    a {
        color: $white;
        text-align: center;
        display: inline;
    }
    #nav-burger {
        display: none;
      }
}

@media all and (max-width: 679px){

	.open {
		top: -40px; // Height of the ul
	}

	nav{
		#nav-burger {
			display: block;
			position: relative;
			z-index: 2;
			left: 10px;
			width: 40px;
			cursor: pointer;
		}
    ul{
  			width: 100%;
  			display: flex;
  			flex-direction: column;
        background-color: $grey;
  			top: -300px; // Height of the cumulated li roughly + safe space
  			transition: top 0.5s;
  			li{
          width: 100%;
          font-size: 15px;
  				&:hover {
  					z-index: 1;
  				}
  			}
  		}
	}

  section{
    padding: 50px;
    font-size: $small-font-size-descr;
    h3 {
      font-size: 30px;
    }
    h5{
      font-size: 16px;
    }
  }

  #home{
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 25px;
    }
  }

  #contact{
    height: 50vh;
  }
}
